* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

.wrapper {
    height: 100wh;
    width: 100vw;
}

.container-left {
    display: inline-block;
    width: 65%;
    padding-left: 136px;
    margin-top: 25%;
}

.container-right {
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    height: 56em;
    width: 40%;
    position: absolute;
    z-index: 1;

}

img {
    position: relative;
    top: 20%;
    right: 140px;
}

h1 {
    width: 368px;
    font-size: 70px;
    line-height: 80px;
    color: #5D5D7D;
}

p {
    width: 540px;
    font-size: 28px;
    line-height: 48px;
    color: #5D5D7D;
    opacity: 0.6;
    margin: 15px 0;    
}

button {
    background: #9499ea;
    width: 269px;
    height: 62px;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}

a {
    font-size: 28px;
    line-height: 41px;
    color: #5d5d7d;
    margin-right: 41px;
    cursor: pointer;
}

a:nth-child(2) {
    opacity: 0.4;
}

a:hover {
    opacity: 0.4;
}

a:active {
    opacity: 0.8;
}

header {
    margin: 25px 0 0 57px;
}

footer {
    background: #9499EA;
    width: 100%;
    padding: 26px;
    margin-top: 30px;
    position: relative;
    width: 100vw;
    bottom: 0;
    z-index: 2;
  }

  h2 {
    color: #ffffff;
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
  }

@media screen and (max-width: 900px) {
    .container-left {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .container-right {
        display: block;
        height: auto;
        width: 100%;
        position: static;
        padding: 40px;

    }

    img {
        position: static;
        max-width: 90%;
    }

    header {
        display: none;
    }

    h1 {
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 58px 50px 0 50px;
        text-align: center;
    }

    p {
        margin: 15px 40px;
        width: auto;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
    }

    button {
        margin: 0 auto;
        display: block;
        }

        footer {
            position: static;
            margin: auto;
        }

        

}

/* Responsivo para celulares pequenos (abaixo de 375px) */
@media screen and (max-width: 375px) {

    .left-container {
      padding: 50px 0;
    }
  
    h1 {
      padding: 0 50px 0 50px;
      font-size: 30px;
    }
  
    p {
      padding: 15px 40px;  
    }
  
    button {
      max-width: 70%;
      font-size: 1.4rem;
    }
  
    img {
      padding: 50px 0;
    }
  
    footer {
      margin-top: 0;
      position: static;
    }
  }